# Build artifacts
bin/
obj/

# Rider
.idea/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Dotnet publish
publish/

# NuGet
*.nupkg
project.lock.json
packages/

# Logs
*.log

# Environment variables and secrets
.env
.env.local
*.env

# OS files
.DS_Store
Thumbs.db

# Tools/temp
tools/serialize-test/
docs/PROJECT_TRACKER_Lab4.md

# Test images
docs/samples
